@using Blog.Models
@model List<Category>
@{
    ViewData["Title"] = "CategoryList";
}

<h1 class="mt-4">Category Details</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Category Details</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Categories
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryId)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                <a asp-route-Id="@item.CategoryId" class="btn btn-secondary"
                           asp-action="Edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a asp-route-Id="@item.CategoryId" class="btn btn-danger"
                           onclick="confirm('Are you sure want to delete?')"
                           asp-action="Delete">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-danger">
                        No Category to show
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @if (TempData["AddCategory"] != null)
    {
        <script type="text/javascript">
            var message = '@TempData["Addcategory"]';
            alertify.success(message);
        </script>
    }

    @if (TempData["DeleteCategory"] != null)
    {
        <script type="text/javascript">
            var message = '@TempData["DeleteCategory"]';
            alertify.error(message);
        </script>
    }

    @if (TempData["EditCategory"] != null)
    {
        <script type="text/javascript">
            var message = '@TempData["EditCategory"]';
            alertify.error(message);
        </script>
    }

}


