@using Blog.Models;
@model BlogData;
@using Blog.ViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Blog details";
}

<div class="hero hero-single route bg-image" style="background-image: url(/blog-details.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="hero-title mb-4">Blog Details</h2>
                <ol class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<main id="main">

    <!-- ======= Blog Single Section ======= -->
    <section class="blog-wrapper sect-pt4" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post-box">
                        <div class="post-thumb">
                            <img src="~/@Model.ImageUrl" class="img-fluid" alt="">
                        </div>
                        <div class="post-meta">
                            <h1 class="article-title">@Model.Title</h1>
                            <ul>
                                <li>
                                    <span class="bi bi-person"></span>
                                    <a href="#">PhilsKay</a>
                                </li>
                                <li>
                                    <span class="bi bi-tag"></span>
                                    <a href="#">@ViewBag.Category</a>
                                </li>
                                <li>
                                    <span class="bi bi-chat-left-text"></span>
                                    <a href="#">@ViewBag.DateInAgoFormat</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <dl>
                                <dt>
                                    <strong>
                                        Summary :
                                    </strong>
                                </dt>
                                <dd>
                                    <blockquote class="blockquote">
                                        <i class="mb-0">@Model.Summary</i>
                                    </blockquote>
                                </dd>
                            </dl>

                        </div>

                        <article>
                            <div class="article-content">
                                @Html.Raw(Model.Content)
                            </div>
                        </article>
                    </div>
                    <div class="box-comments">
                        <div class="title-box-2">
                            <h4 class="title-comments title-left">Comments (@Model.Comments.Count())</h4>
                        </div>
                        <ul class="list-comments" list="@Model.Comments" count="0">
                            @foreach(var comment in Model.Comments)
                            {
                                  <li>
                                
                                <div class="comment-details">
                                    <h4 class="comment-author">@comment.Author</h4>
                                    <span>@comment.DateCreated</span>
                                    <p>
                                        @Html.DisplayFor(m => @comment.Body)
                                    </p>
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a class="" asp-area="Identity" asp-page="~/Account/Login" asp-route-returnUrl="~/data/@Model.BlogId">Login to reply</a>
                                        }else
                                        {
                                        <a aria-expanded="false" href="@($"replyComment/{comment.Id}")"
                                        data-toggle="collapse">Reply</a>

                                        }
                                </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="collapse" id="@($"replyComment{comment.Id}")">
                                            <form asp-action="AddComment">
                                                <input asp-for="@Model.BlogId" readonly hidden>
                                                <input asp-for="@comment.SubComments." readonly value="@comment.Id" hidden>
                                                <div class="form-group">
                                                    <label for="sub-comment">Write a reply</label>
                                                    <textarea asp-for="@comment.Body" class="form-control" rows="3"></textarea>
                                                    <button type="submit" class="btn btn-outline-primary post-btn">Post</button>
                                                </div>
                                            </form>
                                        </div>
                                    }
                                </li>
                                @foreach(var reply in comment.SubComments)
                                {
                                    <li class="comment-children">
                               
                                <div class="comment-details">
                                    <h4 class="comment-author">@reply.Author</h4>
                                    <span>@reply.DateCreated</span>
                                    <p>
                                        @Html.DisplayFor(m => @reply.Body)
                                    </p>
                                </div>
                            </li>
                                }
                                
                            }
                        </ul>
                    </div>
                    <div class="form-comments">
                        <div class="title-box-2">
                            <h3 class="title-left">
                                Leave a Comment
                            </h3>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            await Html.RenderPartialAsync("_CommentPartial", new CommentViewModel { BlogId = Model.BlogId, MainCommentId = 0 });

                        }else
                        {
                          <a class="" asp-area="Identity" asp-page="~/Account/Login" asp-route-returnUrl="~/data/@Model.BlogId">Login to comment</a>
                        }

                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget-sidebar sidebar-search">
                        <h5 class="sidebar-title">Search</h5>
                        <div class="sidebar-content">
                            <form asp-controller="Home" asp-action="Index" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." name="title">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary btn-search" type="submit">
                                            <span class="bi bi-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--==========
                        search button
                                ===============
                    -->
                    <div class="widget-sidebar">
                        <h5 class="sidebar-title">Recent Post</h5>
                        <div class="sidebar-content" id="latestBlogs">
                            <!--============
                                Partial view of latest blogs called with jquerry
                                                     ==============
                            -->
                        </div>
                    </div>
                    <div class="widget-sidebar">
                        <h5 class="sidebar-title">Archives</h5>
                        <div class="sidebar-content" id="archiveBlog">
                            <!--============
                                Partial view of archive blogs called with jquerry
                                                     ==============
                            -->
                        </div>
                    </div>
                    <!--=============
                        Blog Tags collection
                                        =================
                    -->
                    <div class="widget-sidebar widget-tags">
                        <h5 class="sidebar-title">Tags</h5>
                        <div class="sidebar-content">
                            <ul>
                                @foreach (var tags in Model.Tags)
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Index" name="tag" id="tag" >@Html.DisplayFor(m => tags)</a>
                                        @{
                                        }
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Blog Single Section -->

</main><!-- End #main -->
@section Scripts{
    <script>
        //Display the partial views
        $('#latestBlogs').load("/BlogContent/LatestBlog")
        $('#archiveBlog').load("/BlogContent/ArchiveBlog")
    </script>
    <script>
$('[data-toggle="collapse"]').on('click', function() {
    var $this = $(this),
        $parent = typeof $this.data('parent') !=== 'undefined' ? $(this.data('parent')) : undefined;
    if ($parent === undefined) {/* Just toggle my*/
        $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
        return true; 
    }
    /*  Open element will be close if parent !== undefined */
    var currentIcon = $this.find(',glyphicon');
    currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
    $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');
});
    </script>
}
