@using Blog.Models;
@model BlogData
@using Blog.ViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Blog details";
    <!--Count the total amount of comments in the post-->
    var countSubComments = 0;
    foreach (var com in Model.Comments)
    {
        countSubComments += com.SubComments.Count();
    }
    int overAllComments = Model.Comments.Count() + countSubComments;
}

<div class="hero hero-single route bg-image" style="background-image: url(/blog-details.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="hero-title mb-4">Blog Details</h2>
                <ol class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<main id="main">

    <!-- ======= Blog Single Section ======= -->
    <section class="blog-wrapper sect-pt4" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post-box">
                        <div class="post-thumb">
                            <img src="~/@Model.ImageUrl" class="img-fluid" alt="">
                        </div>
                        <div class="post-meta">
                            <h1 class="article-title">@Model.Title</h1>
                            <ul>
                                <li>
                                    <span class="bi bi-person"></span>
                                    <a href="#">PhilsKay</a>
                                </li>
                                <li>
                                    <span class="bi bi-tag"></span>
                                    <a href="#">@ViewBag.Category</a>
                                </li>
                                <li>
                                    <span class="bi bi-chat-left-text"></span>
                                    <a href="#">@ViewBag.DateInAgoFormat</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <dl>
                                <dt>
                                    <strong>
                                        Summary :
                                    </strong>
                                </dt>
                                <dd>
                                    <blockquote class="blockquote">
                                        <i class="mb-0">@Model.Summary</i>
                                    </blockquote>
                                </dd>
                            </dl>

                        </div>

                        <article>
                            <div class="article-content">
                                @Html.Raw(Model.Content)
                            </div>
                        </article>
                    </div>
                    <div class="box-comments">
                        <div class="title-box-2">
                            <h4 class="title-comments title-left">Comments (@overAllComments)</h4>
                        </div>
                        <ul class="list-comments" list="@Model.Comments" count="0">
                            @foreach (var comment in Model.Comments)
                            {
                                <li>

                                    <div class="comment-details">

                                        <h4 class="comment-author">@comment.Author</h4>


                                        <span>@comment.DateCreated.ToLocalTime()</span>
                                        <p>
                                            @Html.DisplayFor(m => @comment.Body)
                                        </p>
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="~/BlogContent/data/@Model.BlogId">Login to Reply</a>
                                        }
                                        else
                                        {
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Reply
                                                </a>
                                                @{
                                                    await Html.RenderPartialAsync("_SubCommentPartial", new CommentViewModel { BlogId = Model.BlogId, MainCommentId = comment.Id });

                                                }
                                            </div>
                                        }

                                    </div>

                                </li>
                                @foreach (var reply in comment.SubComments)
                                {
                                    <li class="comment-children">

                                        <div class="comment-details">
                                            <h4 class="comment-author">@reply.Author</h4>
                                            <span>@reply.DateCreated.ToLocalTime()</span>
                                            <p>
                                                @Html.DisplayFor(m => @reply.Body)
                                            </p>
                                        </div>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                    <div class="form-comments">
                        <div class="title-box-2">
                            <h3 class="title-left">
                                Leave a Comment
                            </h3>
                        </div>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="lead" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="~/BlogContent/data/@Model.BlogId">Login to leave a Comment</a>
                        }
                        else
                        {
                            await Html.RenderPartialAsync("_CommentPartial", new CommentViewModel { BlogId = Model.BlogId, MainCommentId = 0 });
                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget-sidebar sidebar-search">
                        <h5 class="sidebar-title">Search</h5>
                        <div class="sidebar-content">
                            <form asp-controller="Home" asp-action="Index" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." name="title">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary btn-search" type="submit">
                                            <span class="bi bi-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--==========
                        search button
                                ===============
                    -->
                    <div class="widget-sidebar">
                        <h5 class="sidebar-title">Recent Post</h5>
                        <div class="sidebar-content" id="latestBlogs">
                            <!--============
                                Partial view of latest blogs called with jquerry
                                                     ==============
                            -->
                        </div>
                    </div>
                    <div class="widget-sidebar">
                        <h5 class="sidebar-title">Archives</h5>
                        <div class="sidebar-content" id="archiveBlog">
                            <!--============
                                Partial view of archive blogs called with jquerry
                                                     ==============
                            -->
                        </div>
                    </div>
                    <!--=============
                        Blog Tags collection
                                        =================
                    -->
                    <div class="widget-sidebar widget-tags">
                        <h5 class="sidebar-title">Tags</h5>
                        @if(Model.Tags != null)
                        {
                            <div class="sidebar-content">
                            <ul>
                                @foreach (var tags in Model.Tags)
                                {
                                    <li>
                                        <form method="get" asp-controller="Home" asp-action="Index" method="get" asp-area="">
                                            <input name="tag" value="@tags" hidden>
                                            <input type="submit" class="border-none text-light btn btn-warning-opacity-0" value="@tags" id="tag">
                                        </form>
                                    </li>
                                }

                            </ul>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Blog Single Section -->

</main><!-- End #main -->
@section Scripts{
    <script>
        //Display the partial views
        $('#latestBlogs').load("/BlogContent/LatestBlog")
        $('#archiveBlog').load("/BlogContent/ArchiveBlog")

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
